<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814548650811-uuelsif49nk7cmg4v867ub69ffmceoka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814548650811-uuelsif49nk7cmg4v867ub69ffmceoka</string>
	<key>API_KEY</key>
	<string>AIzaSyBxmlacX4UKVO5zc2lui6yDP2YZcm_Z3g0</string>
	<key>GCM_SENDER_ID</key>
	<string>814548650811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinjeon.ExercisePhysiologyQuizApp</string>
	<key>PROJECT_ID</key>
	<string>exercise-phys-quizapp</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise-phys-quizapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814548650811:ios:4c4055332b9db22e82051e</string>
</dict>
</plist>